@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');



* {
    font-family: "Roboto Slab";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-image: linear-gradient(rgb(8, 13, 69), rgba(82, 9, 21, 0.831), rgba(122, 122, 7, 0.735)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
}

h1 {
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background-color: black;
    font-size: 25px;
    color: white;
    margin: 10px;
    padding: 10px;
    flex-direction: column;

    border-radius: 10px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.854);
}

div {
    margin: 30px;
}

button {
    padding: 8px;
    margin: 5px;
    width: 45%;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

button:hover {
    background-color: rgb(223, 255, 82);
}
